<div class="container-fluid mt-5">
    <div class="row">
        <div *ngFor="let d of ukraineNewsDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img style="border-radius: 10px;" src="{{d.urlToImage}}" width="100%">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <a class="btn btn-dark btn-sm" target="_blank" href="{{d.url}}">Read more</a>
                        </div>
                        <div class="col mt-2">
                            <p class="text-dark" style="font-weight: bold;">{{d.source.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
